@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.item-conteiner {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 0 0 20px 15px;
  margin-top: 30px;
  cursor: pointer;

  .title-block {
    margin-right: 10px;
    
    .title {
      display: inline;
      font-weight: bold;
    }
    .commetns-count {
      display: inline;
      color: white;
      padding: 1px 9px 1px 9px;
      margin-left: 10px;
      border-radius: 10px;
      background-color: #2DC9BE;
    }
    .without-comments {
      display: none;
    }
  }
  .delete-button {
    text-align: center;
    span {
      border: 1px solid #DB5A76;
      border-radius: 3px;
      padding: 5px 20px;
      color: #DB5A76
    }
  }
  
}

.active {
  border-left: 3px solid #DB5A76;
}


@media screen and (max-width: 380px) {
  .item-conteiner {
    padding: 0 0 5px 3px;
    text-align: center;
  }
  .title-block {
    flex-direction: column;
    display: flex;
    height: 40px;
  }
  .commetns-count {
    margin: 0px;
    display: block;
  }

}