.item-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 0 0 10px 0;

  .title-block {
    .title {
      display: inline;
      font-weight: bold;
    }
    .commetns-count {
      display: inline;
      color: white;
      padding: 3px 5px 3px 5px;
      margin-left: 10px;
      border-radius: 10px;
      background-color: rgb(78, 240, 186);
    }
  }
  .delete-button {
    text-align: center;
    span {
      border: 1px solid rgb(212, 98, 98);
      border-radius: 3px;
      padding: 5px 20px;
      color: rgb(212, 98, 98);
    }
  }
  
}