.container {
  display: flex;
  text-align: center;


  .side-bar {
    width: 12%;
    background-color: #2C2F3E;
    padding: 5px;
    
    h2 {
      text-transform: uppercase;
      color: white;
      font-weight: normal;
      margin-bottom: 3px;
    }

    p {
     color: #50545F;
     margin-top: 5px;
    }
  }
}
@media screen and (max-width: 590px) {
  .side-bar {
    display: none;
  }

}